.bookContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

.book {
  width: 75%;
  height: 75%;
}

.title {
  text-align: center;
  color: var(--accentGreen1);
  font-family: var(--Outfit);
  font-size: 4rem;
  margin-top: 2rem;
}

.textBoxContainer {
  position: absolute;
  left: 52%;
  top: 20%;
  display: flex;
  flex-direction: column;
  max-width: 15vw;
}

.textbox {
  background-color: transparent;
  border: none;
  color: var(--darkGreen);
}

.promptContainer {
  position: absolute;
  left: 28%;
  top: 20%;
}

.date {
  color: var(--darkGreen);
}

.prompt {
  font-size: 2rem;
  color: var(--accentGreen2);
  width: 20vw;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: none;
  background-color: var(--mainText);
  cursor: pointer;
  font-family: var(--outfit);
  font-size: 1.8rem;
  color: var(--darkGreen);
  margin-right: 2rem;
  margin-top: 20px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.submit:hover {
  background-color: var(--darkGreen);
  color: var(--mainText);
}
