.title {
  font-family: var(--outfit);
  font-weight: bold;
  color: var(--mainText);
  font-size: 11rem;
  margin-top: 8rem;
}

.title span {
  color: var(--darkGreen);
  margin-left: 2rem;
}

.intro {
  font-family: var(--outfit);
  color: var(--mainText);
  border-bottom: 1px solid var(--mainText);
  letter-spacing: 3px;
  font-size: 0.8rem;
  padding-bottom: 10px;
  margin-bottom: -9rem;
  margin-left: 1rem;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: 10rem;
}