.bookContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

.book {
  width: 75%;
  height: 75%;
}

.title {
  text-align: center;
  color: var(--accentGreen1);
  font-family: var(--Outfit);
  font-size: 4rem;
  margin-top: 2rem;
}

.textBoxContainer {
  position: absolute;
  left: 52%;
  top: 20%;
}

.textbox {
  background-color: transparent;
  border: none;
  color: var(--darkGreen);
}

.promptContainer {
  position: absolute;
  left: 28%;
  top: 20%;
}

.date {
  color: var(--darkGreen);
}

.prompt {
  font-size: 2rem;
  color: var(--accentGreen2);
}
