.circle {
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 180px;
  background: #d9d9d9;
}

.face1 {
  position: absolute;
  left: 16px;
  top: 11%;
}
.face2 {
  position: absolute;
  left: 7px;
  top: 11%;
}
