.title {
  color: cyan;
  font-family: var(--Outfit);
  background-color: blue;
  text-align: center;
  padding: 1.1rem 0;
}

.container {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}

.day {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--Outfit);
  font-size: 3rem;
  border-radius: 25px;
}

.weekDaysContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--Outfit);
  font-size: 1.2rem;
}

/* .sunday {
  margin-left: 5px;
}
.monday {
  margin-left: 10px;
}
.tuesday {
  margin-left: 20px;
}
.wednesday {
  margin-left: 10px;
}
.thursday {
  margin-right: 15px;
}
.friday {
  margin-right: 18px;
} */

/* 
.weekDay {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
} */
