.title {
  color: var(--darkGreen);
  font-family: var(--Outfit);
  background-color: var(--accentGreen1);
  text-align: center;
  font-size: 3.5rem;
  /* padding: 1.1rem 0; */
}

.container {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  margin: 20px;
  margin-left: 120px;
  margin-right: 120px;
}

.day {
  cursor: pointer;
  background-color: var(--mainText);
  color: var(--darkGreen);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--Outfit);
  font-size: 3rem;
  border-radius: 20px;
}

.notMonth {
  color: var(--accentGreen2);
}

.weekDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-family: var(--Outfit);
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 20px;
  margin-left: 120px;
  margin-right: 120px;
  color: var(--darkGreen);
}

.weekDaysContainer {
  background-color: var(--accentGreen2);
  padding: 10px 0;
}
